[submodule "frontend"]
	path = frontend
	url = https://github.com/hadishamoun1/code-editor-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/hadishamoun1/code-editor-backend.git
